.BasicLayout {
  height: 100vh;

  .header {
    height: 10%;
  }

  .content {
    height: 80%;
    .learn {
    }

    .code {
      height: 75vh;
      background-color: #1c2022;
      color: #fff;

      .window-panel {
        padding: 5px 10px 0 10px;

        h3 {
          color: inherit;
          font-weight: lighter;
        }
      }

      #editor {
        width: 100% !important;
        height: 100% !important;
      }

      .action-panel {
        background-color: #26282c;
      }
    }

    .display {
      .search-panel {
        display: flex;
      }
    }
  }

  .footer {
    height: 10%;
  }
}
