.BasicLayout {
  height: 100vh;

  .header {
    height: 10%;
  }

  .content {
    height: 80%;

    .learn {
    }

    .code {
      height: 100%;
      // background-color: #201f2f;
      // color: #fff;
      padding: 0.5rem;

      h3 {
        color: inherit;
        font-weight: lighter;
      }

      .editor {
        // width: 250px;
        // height: 250px;
      }
    }

    .dispay {
    }
  }

  .footer {
    height: 10%;
  }
}
